.hero
	background-image: url("https://images.unsplash.com/photo-1475817098549-d7cb5081b5b7?dpr=2&auto=format&fit=crop&w=1920&h=1280&q=80&cs=tinysrgb&crop=&bg=")
	background-size: cover;
	background-position: 0px 10%;
	background-repeat: no-repeat;
	height: 40vh;
	.skills
		display: flex
		flex-wrap: wrap
		justify-content: flex-end;
		.skill
			list-style-type: none;
			padding: 0 1em;
			h2
				cursor: pointer; 
				cursor: hand;
			.techs
				display: flex;
				flex-direction: column;
