.hero
	display: flex
	background-attachment: fixed
	background-image: url("https://images.unsplash.com/uploads/14131528357928cb9c5b5/220ec369?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=&bg=")
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	min-height: 40vh
	.container
		    justify-content: center
		.skills
			display: flex
			align-self: center
			justify-content: center
			flex-wrap: wrap
			.skill
				list-style-type: none
				padding: 0 1em
				text-align: center
				h2
					font-weight: 200
				.techs
					display: flex
					flex-direction: column
					*
						padding-bottom: 0.3em
					.show
						opacity: 1
					.hide
						opacity: 0
