.landing
	color: white;
	height: 100vh;
	// height: "calc(100vh - %s)" % navheight
	//multiple vars left "calc(%s - %s)" % (measure arrow-size)
	background-image: url("https://images.unsplash.com/photo-1483199095378-ce6e77cd1c0d?dpr=2&auto=format&fit=crop&w=1500&h=918&q=80&cs=tinysrgb&crop=&bg=");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	.container
		display: flex
		flex-direction: column
		align-items: center
		width: 100%;
	h1
		font-size: 4em;