.top
	nav.navbar 
		background: rgba(255, 255, 255, 1)
		display: flex
		align-items: center
		justify-content: center
		flex-flow: row nowrap
		position: fixed
		width: 100%
		height: navheight
		justify-content: space-around
		z-index: 1
		box-shadow: 0 -4px 20px rgba(0,0,0,.4)
		top: 0
		ul
			display: flex
			list-style-type: none
			width:100%
			li
				align-self: center
				padding 0 1em
				&.icon
					font-size: 2em
					padding-left: 0;
				&:first-child //The Name element
					white-space: nowrap
					margin-right: auto
					font-weight: 700
					font-size: 2em
				&.web
					display: none;
				@media screen and (min-width: 900px)
					&.mobile
						display: none;
					&.web
						display: list-item;
	.mobile-menu
		position: relative;
		top: navheight;
		ul
			li
				padding: 1em;
				border-bottom: 1px solid rgba(156, 156, 156, 0.7);
		.dropdown
			background-color: white;
			@media screen and (min-width: 900px)
				display: none;