nav.navbar 
	background: rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;
	height: navheight;
	justify-content: space-around;
	ul
		display: flex;
		list-style-type: none;
		width:100%;
		li
			padding 0 2em
			&:first-child
				margin-right: auto;