a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta {
  width: 280px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 28px;
}
nav.navbar {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  z-index: 1;
  border-radius: 0px 5px 15px #000;
  top: 0;
}
nav.navbar ul {
  display: flex;
  list-style-type: none;
  width: 100%;
}
nav.navbar ul li {
  align-self: center;
  padding: 0 2em;
}
nav.navbar ul li:first-child {
  white-space: nowrap;
  margin-right: auto;
  font-weight: 700;
  font-size: 2em;
}
.landing {
  color: #fff;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1483199095378-ce6e77cd1c0d?dpr=2&auto=format&fit=crop&w=1500&h=918&q=80&cs=tinysrgb&crop=&bg=");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.landing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.landing h1 {
  font-size: 4em;
}
.folio {
  margin-top: 50px;
  color: #fff;
  background-color: #00f;
}
.hero {
  background-image: url("https://images.unsplash.com/photo-1475817098549-d7cb5081b5b7?dpr=2&auto=format&fit=crop&w=1920&h=1280&q=80&cs=tinysrgb&crop=&bg=");
  background-size: cover;
  background-position: 0px 10%;
  background-repeat: no-repeat;
  height: 40vh;
}
.hero .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.hero .skills .skill {
  list-style-type: none;
  padding: 0 1em;
}
.hero .skills .skill h2 {
  cursor: pointer;
  cursor: hand;
}
.hero .skills .skill .techs {
  display: flex;
  flex-direction: column;
}
