a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta {
  width: 280px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 28px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nodisplay {
  display: none;
}
.landing {
  color: #fff;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1483199095378-ce6e77cd1c0d?dpr=2&auto=format&fit=crop&w=1500&h=918&q=80&cs=tinysrgb&crop=&bg=");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.landing h1 {
  font-size: 4em;
}
.top nav.navbar {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  z-index: 1;
  box-shadow: 0 -4px 20px rgba(0,0,0,0.4);
  top: 0;
}
.top nav.navbar ul {
  display: flex;
  list-style-type: none;
  width: 100%;
}
.top nav.navbar ul li {
  align-self: center;
  padding: 0 2em;
}
.top nav.navbar ul li.icon {
  font-size: 2em;
}
.top nav.navbar ul li:first-child {
  white-space: nowrap;
  margin-right: auto;
  font-weight: 700;
  font-size: 2em;
}
.top nav.navbar ul li.web {
  display: none;
}
@media screen and (min-width: 900px) {
  .top nav.navbar ul li.mobile {
    display: none;
  }
  .top nav.navbar ul li.web {
    display: list-item;
  }
}
.top .mobile-menu {
  position: relative;
  top: 50px;
}
.top .mobile-menu ul li {
  padding: 1em;
  border-bottom: 1px solid rgba(156,156,156,0.7);
}
.top .mobile-menu .dropdown {
  background-color: #fff;
}
@media screen and (min-width: 900px) {
  .top .mobile-menu .dropdown {
    display: none;
  }
}
.folio {
  margin-top: 50px;
  color: #fff;
}
.hero {
  display: flex;
  background-attachment: fixed;
  background-image: url("https://images.unsplash.com/uploads/14131528357928cb9c5b5/220ec369?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=&bg=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40vh;
}
.hero .container {
  justify-content: center;
}
.hero .container .skills {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero .container .skills .skill {
  list-style-type: none;
  padding: 0 1em;
  text-align: center;
}
.hero .container .skills .skill h2 {
  font-weight: 200;
}
.hero .container .skills .skill .techs {
  display: flex;
  flex-direction: column;
}
.hero .container .skills .skill .techs * {
  padding-bottom: 0.3em;
}
.hero .container .skills .skill .techs .show {
  opacity: 1;
}
.hero .container .skills .skill .techs .hide {
  opacity: 0;
}
.project {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.project.left {
  color: #000;
  text-align: left;
  background-color: #fff;
}
.project.right {
  color: #fff;
  text-align: right;
  background-image: url("https://images.unsplash.com/uploads/14131528357928cb9c5b5/220ec369?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=&bg=");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
@media screen and (min-width: 900px) {
  .project {
    justify-content: space-between;
    padding: 2%;
    max-height: 400px;
  }
  .project.left {
    flex-direction: row;
  }
  .project.right {
    flex-direction: row-reverse;
  }
}
.project .description {
  max-width: 600px;
}
.project .description .longdesc {
  padding-top: 5%;
}
.project .description .pipelist {
  font-style: italic;
}
.project > * {
  padding: 2%;
}
.project .visuals {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 600px;
}
@media screen and (min-width: 900px) {
  .project .visuals {
    max-width: 75%;
    display: flex;
    flex-direction: row;
  }
}
.project .visuals .screenshot {
  display: flex;
  flex-shrink: 0;
  max-height: 400px;
  height: 100%;
  width: 100%;
}
.project.right .visuals .screenshot {
  justify-content: flex-start;
}
.project.left .visuals .screenshot {
  justify-content: flex-end;
}
.project .visuals .screenshot img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .project .visuals .screenshot img {
    width: auto;
  }
}
.fadeout {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(58,58,58,0.38);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fadeout .modal {
  background-color: #fff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
