@import "Globals"
@import "App"
@import "sections/LandingDefault"
@import "sections/NavbarDefault"
@import "Folio"
@import "sections/HeroDefault"
@import "sections/ProjectDefault"
@import "sections/ContactDefault"